  <% @cars.each do |car| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <div class = "caption">
          <h3><%= car.brand %></h3>
          <h6>
            Avarage mileage: <span class="badge"><%= car.mileages.average(:value) %></span>
          </h6>
          <h6>
            Full mileage: <span class="badge"><%= car.mileages.sum(:value) %></span>
          </h6>
        </div>
      </div>
    </div>
  <% end %>
